<center>
    <h1 style="color:green">
        <b>
            <u> HOUSES PRICE PROJECT </u>
        </b>
    </h1>
</center>

In [2]:
import pandas as pd
import numpy as np


from src.data_processing.load_data import load_data
from config.config import TEST_RATIO, SEED

In [7]:
print(TEST_RATIO, SEED)

0.3 13

# Introduction

# EDA

In [54]:
path = 'data/house_prices.csv'
df = pd.read_csv(path)

df.head()

,price,AreA,bedrooms,BATHROOMS,stories,mainroad,guestroom,basement,hotwaterheating,air conditioning,parking,prefarea,furnishing STATUS,houSeaGe
0,4543000.0,4990.0,4.0,2.0,2.0,yes,yes,yes,no,no,0.0,yes,furnished,15.0
1,8080940.0,7000.0,3.0,2.0,4.0,yes,no,no,no,yes,2.0,no,FURNISHED,11.0
2,8750000.0,4321.0,3.0,2.0,2.0,yes,no,yes,yes,no,2.0,no,FURNISHED,NaN
3,1890000.0,1700.0,3.0,1.0,2.0,yes,no,no,no,no,0.0,no,unfurnished,NaN
4,12215000.0,7500.0,4.0,2.0,2.0,yes,no,yes,no,yes,3.0,yes,furnished,NaN

In [59]:
print(df.columns)

df.columns = [col.lower().capitalize() for col in df.columns]
df.rename(columns={'Furnishing status':'Furnishing_Status','Air conditioning':'Air_Conditioning','Hotwaterheating':'Hot_Water_Heating','Houseage':'House_Age'},inplace=True)



df.columns

Index(['Price', 'Area', 'Bedrooms', 'Bathrooms', 'Stories', 'Mainroad',
       'Guestroom', 'Basement', 'Hotwaterheating', 'Air_Conditioning',
       'Parking', 'Prefarea', 'Furnishing_Status', 'Houseage'],
      dtype='object')

Index(['Price', 'Area', 'Bedrooms', 'Bathrooms', 'Stories', 'Mainroad',
       'Guestroom', 'Basement', 'Hot_Water_Heating', 'Air_conditioning',
       'Parking', 'Prefarea', 'Furnishing_status', 'House_Age'],
      dtype='object')

In [58]:
for col in [col for col in df.columns if df[col].dtype == "object"] :   
    print(f'Values in {col} : {df[col].dropna().unique()}')


df['Furnishing_Status']= df['Furnishing_Status'].apply(lambda x : x.lower().capitalize() if pd.notna(x) else x)

df.replace({'yes':True,'no':False})

print(df.head())

for col in [col for col in df.columns if df[col].dtype == "object"] :   
    print(f'Values in {col} : {df[col].dropna().unique()}')

Values in Mainroad : ['yes' 'no']
Values in Guestroom : ['yes' 'no']
Values in Basement : ['yes' 'no']
Values in Hotwaterheating : ['no' 'yes']
Values in Air_Conditioning : ['no' 'yes']
Values in Prefarea : ['yes' 'no']
Values in Furnishing_Status : ['Furnished' 'Unfurnished' 'Semi-furnished']
        Price    Area  Bedrooms  Bathrooms  Stories Mainroad Guestroom  \
0   4543000.0  4990.0       4.0        2.0      2.0      yes       yes
1   8080940.0  7000.0       3.0        2.0      4.0      yes        no
2   8750000.0  4321.0       3.0        2.0      2.0      yes        no
3   1890000.0  1700.0       3.0        1.0      2.0      yes        no
4  12215000.0  7500.0       4.0        2.0      2.0      yes        no

  Basement Hotwaterheating Air_Conditioning  Parking Prefarea  \
0      yes              no               no      0.0      yes
1       no              no              yes      2.0       no
2      yes             yes               no      2.0       no
3       no              no               no      0.0       no
4      yes              no              yes      3.0      yes

  Furnishing_Status  Houseage
0         Furnished      15.0
1         Furnished      11.0
2         Furnished       NaN
3       Unfurnished       NaN
4         Furnished       NaN
Values in Mainroad : ['yes' 'no']
Values in Guestroom : ['yes' 'no']
Values in Basement : ['yes' 'no']
Values in Hotwaterheating : ['no' 'yes']
Values in Air_Conditioning : ['no' 'yes']
Values in Prefarea : ['yes' 'no']
Values in Furnishing_Status : ['Furnished' 'Unfurnished' 'Semi-furnished']

# Validation crois√©e

# Machine Learning

# Conclusion