In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [13]:
df = pd.read_csv("data/house_prices.csv")
df.columns = [col.lower().capitalize() for col in df.columns]
df.rename(columns={'Furnishing status':'Furnishing_Status','Air conditioning':'Air_Conditioning','Hotwaterheating':'Hot_Water_Heating','Houseage':'House_Age'},inplace=True)

df['Furnishing_Status']= df['Furnishing_Status'].apply(lambda x : x.lower().capitalize() if pd.notna(x) else x)
df.replace({'yes':1,'no':0}, inplace= True)

df.head()

,Price,Area,Bedrooms,Bathrooms,Stories,Mainroad,Guestroom,Basement,Hot_Water_Heating,Air_Conditioning,Parking,Prefarea,Furnishing_Status,House_Age
0,4543000.0,4990.0,4.0,2.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,Furnished,15.0
1,8080940.0,7000.0,3.0,2.0,4.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,Furnished,11.0
2,8750000.0,4321.0,3.0,2.0,2.0,1.0,0.0,1.0,1.0,0.0,2.0,0.0,Furnished,NaN
3,1890000.0,1700.0,3.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,Unfurnished,NaN
4,12215000.0,7500.0,4.0,2.0,2.0,1.0,0.0,1.0,0.0,1.0,3.0,1.0,Furnished,NaN

In [15]:
df.describe()

,Price,Area,Bedrooms,Bathrooms,Stories,Mainroad,Guestroom,Basement,Hot_Water_Heating,Air_Conditioning,Parking,Prefarea,House_Age
count,7.890000e+02,794.000000,785.000000,788.000000,794.000000,793.000000,786.000000,787.000000,791.000000,794.000000,793.000000,795.000000,5.00000
mean,5.406437e+06,5482.997481,3.048408,1.469543,1.935768,0.886507,0.209924,0.355781,0.063211,0.394207,0.825977,0.256604,35.00000
std,2.217827e+06,2203.340686,0.742445,0.669037,0.951354,0.317395,0.407513,0.479054,0.243496,0.488988,0.874718,0.437034,27.10166
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.00000
25%,3.640000e+06,3665.000000,3.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.00000
50%,4.893000e+06,5310.000000,3.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,28.00000
75%,7.210000e+06,6601.000000,3.000000,2.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,2.000000,1.000000,43.00000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,78.00000